@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url();
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url();
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    src: url();
}